* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
}

.nav-menu {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  height: 80px;
}

.logo > img {
  height: 100%;
}

.menu > li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}

.menu a:link,
.menu a:visited {
  color: rgb(20, 110, 200);
  text-decoration: none;
}

.menu a:hover {
  font-style: italic;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  display: flex;
  flex-direction: column;

  margin: 0.5em;
  padding: 2%;
  flex: 1 16%;

  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0, 25);
}

.product-image img {
  width: 100%;
}

.product-info {
  margin-top: auto;
  padding-top: 20px;
  text-align: center;
}

.product-info > button {
  color: white;
  padding: 3px;
  margin: 0.5rem;
}

@media (max-width: 900px) {
  .product-card {
    flex: 1 20%;
  }

  .products .product-card:first-child,
  .product-card:last-child {
    flex: 2, 40%;
  }
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(131, 128, 128, 0.6);
}

.open {
  display: block !important;
}

.modal {
  display: none;
  position: fixed;
  z-index: 101;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: solid 2px;
  border-radius: 0.5rem;
  box-shadow: 4px 8px 11px 9px rgba(0, 0, 0, 0.8);
}

.modal__body {
  margin-bottom: 2rem;
}

.modal-title {
  text-align: center;
  /* padding: 10px; */
}

.form-input {
  width: 100%;
  display: block;
  border: 0.1rem solid rgb(183, 223, 201);
  border-radius: 0.2rem;
  color: rgb(12, 12, 87);
  padding: 5px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.modal-actions {
  text-align: center;
}

.modal-action {
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
}

.modal-action--cancel {
  background-color: red;
}

.modal-action--save {
  background-color: rgb(13, 13, 122);
}
