* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-menu {
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  height: 80px;
}

.logo > img {
  float: left;
  width: 40%;
  height: 100%;
}

.menu > li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}

.menu a:link,
.menu a:visited {
  color: rgb(20, 110, 200);
  text-decoration: none;
}

.menu a:hover {
  font-style: italic;
}

main {
  padding: 1rem;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  background: blue;
}

.content-wide > h1,
.content-wide > h2,
.content-wide > p {
  color: white;
  text-align: center;
  padding: 3px;
}

footer {
  margin-top: auto;
  height: 80px;
  background: blue;
}

.wrapper-footer {
  text-align: center;
}

.wrapper-footer >h2,
.wrapper-footer >p {
  color: white;
}

#footer-links > a {
  text-decoration: none;
  color: white;
}

#footer-links > a:hover {
  color: black;
}
