@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(161, 151, 151);
  display: flex;
  flex-direction: column;
}

.nav-menu {
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  height: 80px;
  top: 0;
}

.logo > img {
  width: 40%;
}

.menu > li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}

.menu a:link,
.menu a:visited {
  color: rgb(20, 110, 200);
  text-decoration: none;
}

main {
  padding-top: 30px;
  padding-bottom: 40px;
}

footer {
  background: white;
  margin-top: auto;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  background: blue;
}
