<footer id="contact">
  <div class="wrapper-footer">
    <h2>Metro Article Management</h2>
    <div id="footer-links">
      <a href="https://www.facebook.com/METRO.CashandCarryRomania/">Facebook</a>
      <a href="https://www.metro.ro/">Official Website</a>
      <a href="https://www.linkedin.com/company/metro-group-logistics-romania"
        >Linkedin</a
      >
    </div>
    <p>Copyright &copy; 2020</p>
  </div>
</footer>
