<div class="nav-menu">
  <div class="logo">
    <img src="metro.png" />
  </div>
  <ul class="menu">
    <li><a href="/index.html">Home</a></li>
    <li><a href="articles.html">Articles</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="about.html">About</a></li>
  </ul>
</div>
